USE [master]
GO
/****** Object:  Database [BDBiblioSystem]    Script Date: 30/6/2021 21:48:12 ******/
CREATE DATABASE [BDBiblioSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDBiblioSystem', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BDBiblioSystem.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDBiblioSystem_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BDBiblioSystem_log.ldf' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDBiblioSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDBiblioSystem]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[IDAutor] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Autor] PRIMARY KEY CLUSTERED 
(
	[IDAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AutorXLibro]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorXLibro](
	[IDAutorXLibro] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IDAutor] [int] NOT NULL,
	[IDLibro] [int] NOT NULL,
 CONSTRAINT [PK_AutorXLibro_1] PRIMARY KEY CLUSTERED 
(
	[IDAutorXLibro] ASC,
	[IDAutor] ASC,
	[IDLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IDCategoria] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IDCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[IDEditorial] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Editorial] PRIMARY KEY CLUSTERED 
(
	[IDEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estado]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IDEstado] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[IDEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Libro]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[IDLibro] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IDCategoria] [int] NOT NULL,
	[IDEditorial] [int] NOT NULL,
	[IDUbicacion] [int] NOT NULL,
	[IDEstado] [int] NOT NULL,
	[Titulo] [nvarchar](50) NOT NULL,
	[Edicion] [nvarchar](50) NOT NULL,
	[ISBN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Libro] PRIMARY KEY CLUSTERED 
(
	[IDLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LibroXPrestamo]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibroXPrestamo](
	[IDPrestamo] [int] NOT NULL,
	[IDLibro] [int] NOT NULL,
	[FechaDevolucion] [datetime] NULL,
 CONSTRAINT [PK_EjemplarXPrestamo] PRIMARY KEY CLUSTERED 
(
	[IDLibro] ASC,
	[IDPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[IDLocalidad] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[IDLocalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[IDPrestamo] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IDSocio] [int] NOT NULL,
	[IDEstado] [int] NOT NULL,
	[FechaPrestamo] [datetime] NULL,
 CONSTRAINT [PK_Prestamo] PRIMARY KEY CLUSTERED 
(
	[IDPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Socio]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socio](
	[IDSocio] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IDEstado] [int] NOT NULL,
	[IDLocalidad] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[DNI] [int] NULL,
	[Domicilio] [nvarchar](50) NULL,
	[Telefono] [bigint] NULL,
	[Correo] [nvarchar](50) NULL,
	[Foto] [image] NULL,
 CONSTRAINT [PK_Socio] PRIMARY KEY CLUSTERED 
(
	[IDSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[IDUbicacion] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ubicacion] PRIMARY KEY CLUSTERED 
(
	[IDUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/6/2021 21:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUsuario] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IDAutor], [Nombre]) VALUES (1, N'Julio Verne')
INSERT [dbo].[Autor] ([IDAutor], [Nombre]) VALUES (2, N'J.K. Rowling')
INSERT [dbo].[Autor] ([IDAutor], [Nombre]) VALUES (3, N'Felipe Pigna')
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[AutorXLibro] ON 

INSERT [dbo].[AutorXLibro] ([IDAutorXLibro], [IDAutor], [IDLibro]) VALUES (1, 1, 1)
INSERT [dbo].[AutorXLibro] ([IDAutorXLibro], [IDAutor], [IDLibro]) VALUES (2, 2, 2)
INSERT [dbo].[AutorXLibro] ([IDAutorXLibro], [IDAutor], [IDLibro]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[AutorXLibro] OFF
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IDCategoria], [Nombre]) VALUES (1, N'')
INSERT [dbo].[Categoria] ([IDCategoria], [Nombre]) VALUES (2, N'Historia')
INSERT [dbo].[Categoria] ([IDCategoria], [Nombre]) VALUES (3, N'Matemáticas')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([IDEditorial], [Nombre]) VALUES (1, N'Puerto de Palos')
INSERT [dbo].[Editorial] ([IDEditorial], [Nombre]) VALUES (2, N'Mercurio')
INSERT [dbo].[Editorial] ([IDEditorial], [Nombre]) VALUES (3, N'Planeta')
SET IDENTITY_INSERT [dbo].[Editorial] OFF
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([IDEstado], [Nombre]) VALUES (1, N'Activo')
INSERT [dbo].[Estado] ([IDEstado], [Nombre]) VALUES (2, N'Inactivo')
INSERT [dbo].[Estado] ([IDEstado], [Nombre]) VALUES (3, N'Dar De Alta')
SET IDENTITY_INSERT [dbo].[Estado] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([IDLibro], [IDCategoria], [IDEditorial], [IDUbicacion], [IDEstado], [Titulo], [Edicion], [ISBN]) VALUES (1, 3, 1, 1, 3, N'La vuelta la mundo en 80 días', N'Segunda', N'0-7854-9658-3')
INSERT [dbo].[Libro] ([IDLibro], [IDCategoria], [IDEditorial], [IDUbicacion], [IDEstado], [Titulo], [Edicion], [ISBN]) VALUES (2, 4, 10, 2, 4, N'Harry Potter y El Caliz de Fuego', N'Primera', N'5-4589-9874-0')
INSERT [dbo].[Libro] ([IDLibro], [IDCategoria], [IDEditorial], [IDUbicacion], [IDEstado], [Titulo], [Edicion], [ISBN]) VALUES (3, 2, 13, 1, 4, N'La Voz del Gran Jefe', N'Primera', N'1895641965165')
SET IDENTITY_INSERT [dbo].[Libro] OFF
INSERT [dbo].[LibroXPrestamo] ([IDPrestamo], [IDLibro], [FechaDevolucion]) VALUES (1, 1, CAST(0x0000A80300857BE0 AS DateTime))
INSERT [dbo].[LibroXPrestamo] ([IDPrestamo], [IDLibro], [FechaDevolucion]) VALUES (1, 3, CAST(0x0000A80300857BE0 AS DateTime))
INSERT [dbo].[LibroXPrestamo] ([IDPrestamo], [IDLibro], [FechaDevolucion]) VALUES (4, 3, CAST(0x0000A80900857BE0 AS DateTime))
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([IDLocalidad], [Nombre]) VALUES (1, N'Villa María')
INSERT [dbo].[Localidad] ([IDLocalidad], [Nombre]) VALUES (2, N'Córdoba')
INSERT [dbo].[Localidad] ([IDLocalidad], [Nombre]) VALUES (3, N'Villa Nueva')
SET IDENTITY_INSERT [dbo].[Localidad] OFF
SET IDENTITY_INSERT [dbo].[Prestamo] ON 

INSERT [dbo].[Prestamo] ([IDPrestamo], [IDSocio], [IDEstado], [FechaPrestamo]) VALUES (1, 1, 5, CAST(0x0000A80800857BE0 AS DateTime))
INSERT [dbo].[Prestamo] ([IDPrestamo], [IDSocio], [IDEstado], [FechaPrestamo]) VALUES (2, 13, 5, CAST(0x0000A80800484EF0 AS DateTime))
INSERT [dbo].[Prestamo] ([IDPrestamo], [IDSocio], [IDEstado], [FechaPrestamo]) VALUES (3, 5, 5, CAST(0x0000A808004C2AD4 AS DateTime))
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
SET IDENTITY_INSERT [dbo].[Socio] ON 

INSERT [dbo].[Socio] ([IDSocio], [IDEstado], [IDLocalidad], [Nombre], [DNI], [Domicilio], [Telefono], [Correo], [Foto]) VALUES (2, 1, 1, N'KHBHKBN', 984894, N'ljnjlnm', 986418941, N'hbnhin', NULL)
INSERT [dbo].[Socio] ([IDSocio], [IDEstado], [IDLocalidad], [Nombre], [DNI], [Domicilio], [Telefono], [Correo], [Foto]) VALUES (3, 2, 1, N'LKNJNM', 9451, N'jnjkn', 51516, N'ojuj', NULL)
SET IDENTITY_INSERT [dbo].[Socio] OFF
SET IDENTITY_INSERT [dbo].[Ubicacion] ON 

INSERT [dbo].[Ubicacion] ([IDUbicacion], [Nombre]) VALUES (1, N'a12')
INSERT [dbo].[Ubicacion] ([IDUbicacion], [Nombre]) VALUES (2, N'h5')
INSERT [dbo].[Ubicacion] ([IDUbicacion], [Nombre]) VALUES (3, N'p15')
SET IDENTITY_INSERT [dbo].[Ubicacion] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IDUsuario], [Nombre], [Contraseña]) VALUES (1, N'admin', N'1234')
INSERT [dbo].[Usuario] ([IDUsuario], [Nombre], [Contraseña]) VALUES (2, N'nata_t12', N'1234')
INSERT [dbo].[Usuario] ([IDUsuario], [Nombre], [Contraseña]) VALUES (3, N'hugorosso', N'villamaria2017')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[AutorXLibro]  WITH CHECK ADD  CONSTRAINT [FK_AutorXLibro_Autor] FOREIGN KEY([IDAutor])
REFERENCES [dbo].[Autor] ([IDAutor])
GO
ALTER TABLE [dbo].[AutorXLibro] CHECK CONSTRAINT [FK_AutorXLibro_Autor]
GO
ALTER TABLE [dbo].[AutorXLibro]  WITH CHECK ADD  CONSTRAINT [FK_AutorXLibro_Libro] FOREIGN KEY([IDLibro])
REFERENCES [dbo].[Libro] ([IDLibro])
GO
ALTER TABLE [dbo].[AutorXLibro] CHECK CONSTRAINT [FK_AutorXLibro_Libro]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Ejemplar_Categoria] FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[Categoria] ([IDCategoria])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Ejemplar_Categoria]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Ejemplar_Editorial] FOREIGN KEY([IDEditorial])
REFERENCES [dbo].[Editorial] ([IDEditorial])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Ejemplar_Editorial]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Ejemplar_Ubicacion] FOREIGN KEY([IDUbicacion])
REFERENCES [dbo].[Ubicacion] ([IDUbicacion])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Ejemplar_Ubicacion]
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD  CONSTRAINT [FK_Libro_Estado] FOREIGN KEY([IDEstado])
REFERENCES [dbo].[Estado] ([IDEstado])
GO
ALTER TABLE [dbo].[Libro] CHECK CONSTRAINT [FK_Libro_Estado]
GO
ALTER TABLE [dbo].[LibroXPrestamo]  WITH CHECK ADD  CONSTRAINT [FK_EjemplarXPrestamo_Prestamo] FOREIGN KEY([IDPrestamo])
REFERENCES [dbo].[Prestamo] ([IDPrestamo])
GO
ALTER TABLE [dbo].[LibroXPrestamo] CHECK CONSTRAINT [FK_EjemplarXPrestamo_Prestamo]
GO
ALTER TABLE [dbo].[LibroXPrestamo]  WITH CHECK ADD  CONSTRAINT [FK_LibroXPrestamo_Libro] FOREIGN KEY([IDLibro])
REFERENCES [dbo].[Libro] ([IDLibro])
GO
ALTER TABLE [dbo].[LibroXPrestamo] CHECK CONSTRAINT [FK_LibroXPrestamo_Libro]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Estado] FOREIGN KEY([IDEstado])
REFERENCES [dbo].[Estado] ([IDEstado])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Estado]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Socio] FOREIGN KEY([IDSocio])
REFERENCES [dbo].[Socio] ([IDSocio])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Socio]
GO
ALTER TABLE [dbo].[Socio]  WITH CHECK ADD  CONSTRAINT [FK_Socio_Estado] FOREIGN KEY([IDEstado])
REFERENCES [dbo].[Estado] ([IDEstado])
GO
ALTER TABLE [dbo].[Socio] CHECK CONSTRAINT [FK_Socio_Estado]
GO
ALTER TABLE [dbo].[Socio]  WITH CHECK ADD  CONSTRAINT [FK_Socio_Localidad] FOREIGN KEY([IDLocalidad])
REFERENCES [dbo].[Localidad] ([IDLocalidad])
GO
ALTER TABLE [dbo].[Socio] CHECK CONSTRAINT [FK_Socio_Localidad]
GO
USE [master]
GO
